site_name: HintBook
site_author: Panov Mikhail
repo_url: https://github.com/panovmikhail/hintbook


strict: true

theme:
  name: material
  palette:
  - media: '(prefers-color-scheme: light)'
    primary: light blue
    scheme: default
    toggle:
      icon: material/weather-night
      name: Switch to dark mode
  - media: '(prefers-color-scheme: dark)'
    primary: light blue
    scheme: slate
    toggle:
      icon: material/weather-sunny
      name: Switch to light mode

plugins:
  - search

markdown_extensions:
  - admonition
  - toc:
      permalink: true

nav:
  - Home: index.md
  - Configuration:
      - Git:
          - configuration/git/git-per-dir-configuration.md
  - Command Line(сli):
    - Kubernetes:
        - command-line(сli)/kubernetes/kubernetes-cli-hints.md
    - Curl:
        - command-line(сli)/curl/curl.md
